---
layout: default
---

    <div id="all">
      <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left"> 
          {% include sidebar.html %}
          <!--   *** PORTFOLIO ***-->
          <div class="col-xs-12 col-sm-8 col-md-9 content-column">
            <div class="small-navbar visible-xs">
              <button type="button" data-toggle="offcanvas" class="btn btn-ghost pull-left"> <i class="fa fa-align-left"> </i>Menu</button>
              <h1 class="small-navbar-heading"> <a href="index.html">Cata Margozzini</a></h1>
            </div>
            <div class="grid">
              <div class="row">
                {% for post in site.posts %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry"><a href="{{ post.url }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon"><img src="{{ site.baseurl }}/img/portfolio/{{ post.image }}" alt="" class="img-responsive"></a>
                    <div class="box-masonry-text"> 
                      <h4> <a href="detail.html">{{ post.title }}</a></h4>
                      <div class="box-masonry-desription">
                        <p>{{ post.description }}</p>
                        <p> 
                          {% if post %}
                            {% assign categories = post.categories %}
                          {% else %}
                            {% assign categories = page.categories %}
                          {% endif %}
                          {% for category in categories %}
                          <span class="label label-default">{{category}}</span>
                          {% unless forloop.last %}&nbsp;{% endunless %}
                          {% endfor %}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
<!--                 <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry"><a href="detail.html" title="" class="box-masonry-image with-hover-overlay"><img src="img/portfolio/trifold.jpg" alt="" class="img-responsive"></a>
                    <div class="box-masonry-hover-text-header"> 
                      <h4> <a href="detail.html">Item with image</a></h4>
                      <div class="box-masonry-desription">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
          <!--   *** PORTFOLIO END ***
          -->
        </div>
      </div>
    </div>
    <!-- Javascript files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"> </script>
    <script src="js/jquery.cookie.js"> </script>
    <script src="js/ekko-lightbox.js"></script>
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/front.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
    <!---->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
