---
layout: default
lang: en
ref: about
---

            <!-- Head Section -->
            <section class="small-section bg-dark-alfa-30 parallax-2" data-background="images/full-width-images/section-bg-18.jpg">
                <div class="relative container align-left">

                    <div class="row">

                        <div class="col-md-8">
                            <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Catalina Margozzini</h1>
                            <div class="hs-line-4 font-alt">
                                UX / UI designer and front-end developer
                            </div>
                        </div>

                        <div class="col-md-4 mt-30">
                            <div class="mod-breadcrumbs font-alt align-right">
                                <a href="#">Home</a>&nbsp;/&nbsp;<a href="#">Portfolio</a>&nbsp;/&nbsp;<span>Masonry</span>
                            </div>

                        </div>
                    </div>

                </div>
            </section>
            <!-- End Head Section -->


            <!-- Portfolio Section -->
            <section class="page-section pb-0">
                <div class="relative">

                    <!-- Works Filter -->
                    <div class="works-filter font-alt align-center">
                        <a href="#" class="filter active" data-filter="*">All works</a>
                        <a href="#branding" class="filter" data-filter=".branding">Branding</a>
                        <a href="#design" class="filter" data-filter=".design">Design</a>
                        <a href="#photography" class="filter" data-filter=".photography">Photography</a>
                    </div>
                    <!-- End Works Filter -->

                    <!-- Works Grid -->
                    <ul class="works-grid work-grid-3 work-grid-gut clearfix font-alt hover-white" id="work-grid">
                        {% assign posts=site.posts | where:"lang", page.lang %}
                        {% for post in site.posts %}
                        <!-- Work Item (Lightbox) -->
                        <li class="work-item mix photography">
                            <a href="{{ post.url }}" class="">
                                <div class="work-img">
                                    <img src="{{ site.baseurl }}/img/portfolio/{{ post.image }}" alt="Work" />
                                </div>
                                <div class="work-intro">
                                    <h3 class="work-title">{{ post.title }}</h3>
                                    <div class="work-descr">
                                        {% if post %}
                                          {% assign categories = post.categories %}
                                        {% else %}
                                          {% assign categories = page.categories %}
                                        {% endif %}
                                        {% for category in categories %}
                                        <span class="label label-default">{{category}}</span>
                                        {% unless forloop.last %}&nbsp;{% endunless %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- End Work Item -->
                        {% endfor %}

                    </ul>
                    <!-- End Works Grid -->

                </div>
            </section>
            <!-- End Portfolio Section -->


            <!-- Call Action Section -->
            <section class="small-section bg-dark">
                <div class="container relative">

                    <div class="align-center">
                        <h3 class="banner-heading font-alt">Like Our Creative Works?</h3>
                        <div>
                            <a href="#" class="btn btn-mod btn-w btn-medium btn-round">Start Project</a>
                        </div>
                    </div>

                </div>
            </section>
            <!-- End Call Action Section -->
