<!-- Foter -->
<footer class="bg-gray-lighter footer pb-60 pt-60" id="footer">
    <div class="container">

        <!-- Footer Logo -->
        <div class="local-scroll wow fadeInUp" data-wow-duration="1.5s">
          <div class="align-center">
            {% if page.lang=='en' %}
              <h3 class="banner-heading font-alt">If you have any questions or comments please write me at <a href="mailto:camargozzini@gmail.com?Subject=Hi!" target="_top" data-animate-hover="pulse" class="email">camargozzini@gmail.com</a></h3>
            {% endif %}
            {% if page.lang=='es' %}
              <h3 class="banner-heading font-alt">Si tienes preguntas o comentarios escríbeme a <a href="mailto:camargozzini@gmail.com?Subject=Hi!" target="_top" data-animate-hover="pulse" class="email">camargozzini@gmail.com</a></h3>
            {% endif %}
          </div>
        </div>
        <!-- End Footer Logo -->

     </div>


     <!-- Top Link -->
     <div class="local-scroll">
         <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
     </div>
     <!-- End Top Link -->

</footer>
<!-- End Foter -->
