<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}"><h3>Catalina Margozzini</h3></a>
  </div>
</nav>

<div class="menu-section">
  <div class="menu-toggle">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
  </div>
  <nav>
    <ul role="navigation" class="hidden">
      <li><a href="{{ site.baseurl }}index">Proyectos</a></li>
      <li><a href="{{ site.baseurl }}about">Sobre mí</a></li>
      <li><a href="{{ site.baseurl }}#footer">Contacto</a></li>
    </ul>
  </nav>
</div>



