<!-- Navigation panel -->
<nav class="main-nav js-stick">
    <div class="full-wrapper relative clearfix">
        <div class="nav-logo-wrap local-scroll">
            <a href="{{ site.baseurl }}" class="logo">
            </a>
        </div>
        <div class="mobile-nav">
            <i class="fa fa-bars"></i>
        </div>

        <!-- Main Menu -->
        <div class="inner-nav desktop-nav">
            <ul class="clearlist">

                <!-- Item With Sub -->
                <li>
                    <a href="{{ site.baseurl }}inicio" class="mn-has-sub active">Proyectos</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}about-es" class="mn-has-sub">Sobre mi</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}inicio#footer" class="mn-has-sub">Contacto</a>
                </li>
                <!-- End Item With Sub -->


                <!-- Languages -->
                {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
                {% for page in pages %}
                  <li>
                    <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
                  </li>
                {% endfor %}

                <!-- End Languages -->

            </ul>
        </div>
        <!-- End Main Menu -->


    </div>
</nav>
<!-- End Navigation panel -->
