<ul class="sidebar-menu list-inline">
  <li>
    {% if page.lang=='en' %}
      <h1 class="sidebar-heading"> <a href="index.html">{{ site.title }}</a></h1>
    {% endif %}
    {% if page.lang=='es' %}
      <h1 class="sidebar-heading"> <a href="inicio.html">{{ site.title }}</a></h1>
    {% endif %}
  </li></br>
  {% if page.lang=='en' %}
    <li><a href="index.html">Work</a></li>
    <li><a href="about.html">About</a></li>
  {% endif %}

  {% if page.lang=='es' %}
  <li><a href="inicio.html">Proyectos</a></li>
  <li><a href="sobremi.html">Sobre mi</a></li>
  {% endif %}
</ul>
