<!--   *** SIDEBAR ***-->
<div id="sidebar" class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas">
  <div class="small-navbar visible-xs">
    <button type="button" data-toggle="offcanvas" class="btn btn-ghost pull-left"> <i class="fa fa-align-left"> </i>Menu</button>
    <h1 class="small-navbar-heading"> <a href="index.html">Catalina Margozzini </a></h1>
  </div>
  <div class="sidebar-content">
    <h1 class="sidebar-heading"> <a href="index.html">{{ site.title }}</a></h1>
    {% include nav.html %}
    <p class="sidebar-p">{{ site.description }}</p>
    <p class="sidebar-p">I am currently working at <a href="https://ciudadanointeligente.org/" target="_blank">Fundación Ciudadano Inteligente</a> and <a href="https://www.theengineroom.org/" target="_blank">The Engine Room</a>. If you have any questions or comments please write me at <a href="mailto:camargozzini@gmail.com?Subject=Hi!" target="_top" data-animate-hover="pulse" class="email">camargozzini@gmail.com</a></p>
    <!-- <p class="credit"><a href="{{ site.baseurl }}/index.html">EN</a> | <a href="{{ site.baseurl}}/es/index.html">ES</a></p> -->
  </div>
</div>
