<!--   *** SIDEBAR ***-->
<div id="sidebar" class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas">
  <div class="sidebar-content">
    {% include nav.html %}
    <p class="sidebar-p">Soy diseñadora de Experiencia de Usuario e Interfaces y programadora front-end. Actualmente trabajo en la ONG <a href="https://ciudadanointeligente.org/" target="_blank">Fundación Ciudadano Inteligente</a> y la ONG <a href="https://www.theengineroom.org/" target="_blank">The Engine Room</a>. Si tienes alguna pregunta o comentario por favor escríbeme a <a href="mailto:camargozzini@gmail.com?Subject=Hi!" target="_top" data-animate-hover="pulse" class="email">camargozzini@gmail.com</a></p>
  </div>
  <div class="language">
    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
    {% for page in pages %}
    <li>
      <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
    </li>
    {% endfor %}
  </div>
</div>
