<!--   *** SIDEBAR ***-->
<div id="sidebar" class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas">
  <div class="sidebar-content">
    <h1 class="sidebar-heading"> <a href="index.html">{{ site.title }}</a></h1>
    <p class="sidebar-p">{{ site.description }}</p>
    <ul class="sidebar-menu"> 
      <li><a href="index.html">Portafolio</a></li>
      <li><a href="about.html">Sobre mi</a></li>
    </ul>
    <p class="social"><a href="#" data-animate-hover="pulse" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" data-animate-hover="pulse" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" title="" class="external instagram"><i class="fa fa-instagram"></i></a><a href="#" data-animate-hover="pulse" class="email"><i class="fa fa-envelope"></i></a></p>
    <div class="copyright">
      <p class="credit"><i class="fa fa-creative-commons" aria-hidden="true"></i> Siéntete libre de reusar</p>
    </div>
  </div>
</div>
<!--   *** SIDEBAR END ***  -->