/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $grey;
    font-weight: 400;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

h1 {
    font-weight: 100;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

h4 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}


/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

ul.linea {
  margin-left: 24px;
}

ul.linea li {
  line-height: 32px;
  position: relative;
  &:before {
    content: '_';
    content: '_';
    font-size: 24px;
    color: black;
    position: absolute;
    left: -20px;
    bottom: 6px;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}



/**
 * Links
 */




/**
 * Blockquotes
 */
blockquote {
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



.mark, mark {
    background-color: rgba(224, 224, 224, 0.6);
    color: #505050;
    padding: 0;
}

/*Navbar*/

.navbar {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-nav {
  float: right;
  padding: 20px 0 5px;
  background-color: white;
  margin: 0 -15px;
}

.navbar-nav img {
    max-width: 40px;
}

.navbar-nav li {
    height: 30px;
}

.navbar-default .navbar-nav>li>a {
    margin-left: 15px;
}

.navbar-header {
  background-color: white;
}

/*Responsive utilities*/

@media screen and (max-width: 1000px) {

  .navbar-default .navbar-brand {
    color: $red;
  }

  .navbar-brand {
    height: 20px;
    padding: 5px 15px;
  }

  .site-title .sub-brand a {
    padding-left: 15px;
  }

  .navbar-nav {
    padding-right: 20px;
  }
  .navbar {
    margin-bottom: 0px;
  }

  .mark, mark{
    background-color: transparent;
  }

  .nav__wrapper {
    display: none;
  }

  .site-header {
    display: block;
    background-color: #FFF;
  }

  section {
    display: block;
  }

  section:nth-child(2) {
    background-image: none;
    background: $green;
    padding: 0px 0px 40px;
  }

  #section1 h1 {
    display: none;
  }


  .section-title {
    display: block;
  }

}

@media screen and (min-width: 768px) {
  .navbar {
      background-color: white;
  }
}
