@import "font-awesome.min.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700);

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */

html {
   // scroll-behavior: smooth;

}

body {
    font-weight: 400;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #666;
    font-size: 18px;
    font-family: "Open Sans", arial, sans-serif;
    line-height: 1.6;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

h1 {
    font-weight: 100;
    font-family: 'Merriweather', serif;
    color: #333;
}

h2 {
  font-size: 28px;
  font-weight: 400;
  color: #333;
  font-family: 'Merriweather', serif;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  color: #333;
  font-family: 'Merriweather', serif;
}

h4 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
}

h5 {
    font-size: 16px;
}

a {
  color: blue;
  border-bottom: 2px solid blue;
  &:hover {
    color: #fd5970;
    text-decoration: none;
    border-bottom: 2px solid;
  }
}

.detail {
  font-size: 14px;
}

.bg-gray {
  background-color: azure;
}

// Margins

.mb-30 {
  margin-bottom: 30px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-80 {
  margin-top: 80px;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

ul.linea {
  margin-left: 24px;
}

ul.linea li {
  line-height: 32px;
  position: relative;
  &:before {
    content: '_';
    content: '_';
    font-size: 24px;
    color: black;
    position: absolute;
    left: -20px;
    bottom: 6px;
  }
}


/**
 * Blockquotes
 */
blockquote {
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}


.details {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    & a {
      border: none;
    }
}

// language

.language li {
    text-transform: uppercase;
    font-size: 14px;
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: normal;
    &:first-child {
      border-right: 1px solid #000;
      padding-left: 0;
    }
}

// Header

.navbar-nav a, a.navbar-brand {
  border: none;
  font-size: 14px;
}

// projects

.work-descr {
    letter-spacing: 1px;
    font-size: 12px;
    text-align: left;
}

.work-title {
  text-align: left;
}

.challenge-detail {
  margin-top: 20px;
}

.img-mobile {
  max-width: 320px;
}

// footer

footer {
  background: blue;
  text-align: center;
  & h3 {
    margin-bottom: 0;
    color: white;
    & a {
      color: white;
      border-bottom: 2px solid white;
    }
  }
}
