<!--   *** SIDEBAR ***-->
<div id="sidebar" class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas">
  <div class="sidebar-content">
    <h1 class="sidebar-heading"> <a href="index.html">{{ site.title }}</a></h1>
    <p>Diseñadora de UX y UI</p>
    <p class="credit"><a href="{{ site.baseurl }}/index.html">EN</a> | <a href="{{ site.baseurl}}/es/index.html">ES</a></p>
    <p class="sidebar-p">Soy una diseñadora UX y UI (y codeadora) chilena. Soy buena observando, empatizando y encontrando soluciones.</p>
    <p class="sidebar-p">Actualmente trabajo con la Fundación Ciudadano Inteligente y en The Engine Room. Si tienes comentarios o preguntas escríbeme a <a href="mailto:camargozzini@gmail.com?Subject=Hola!" target="_top" data-animate-hover="pulse" class="email">camargozzini@gmail.com</a></p>
    <ul class="sidebar-menu">
      <li><a href="index.html">Portafolio</a></li>
      <li><a href="https://www.linkedin.com/in/catalina-margozzini-del-valle-39a37733?trk=nav_responsive_tab_profile">Curriculum</a></li>
    </ul>
    </div>
  </div>
</div>
<!--   *** SIDEBAR END ***  -->
