---
layout: default
---


<div id="all">
  <div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
      {% include sidebar.html %}

      <div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
        <div class="small-navbar visible-xs">
            {% include nav.html %}
        </div>
<!-- Post -->
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <p>
          {% if page.external == null %}
          {% else %}
            <a href="{{ page.external }}" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> Website | </a>
          {% endif %}
          {% if page.github == null %}
          {% else %}
            <a href="https://github.com/{{ page.github }}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
          {% endif %}
        </p>
          <div class="post-content" itemprop="articleBody">
            {{ content }}
          </div>

      </div>

    </div>
  </div>
</div>
