---
layout: default
---

<!-- Head Section -->
<section class="small-section bg-gray-lighter">
    <div class="relative container align-left">

        <div class="row">

            <div class="col-md-8">
                <h1 class="no-transp font-alt mb-20 mb-xs-0">{{ page.title }}</h1>
                <div class="mb-30">
                  {% if post %}
                  {% assign categories = post.categories %}
                  {% else %}
                  {% assign categories = page.categories %}
                  {% endif %}
                  {% for category in categories %}
                  <span class="label label-default">{{category}}</span>
                  {% unless forloop.last %}&nbsp;{% endunless %}
                  {% endfor %}
                </div>
                <h4 class="font-alt black">
                    {{ page.description }}
                </h4>
                <p>
                  {% if page.external == null %}
                  {% else %}
                  <a href="https://github.com/{{ page.github }}" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> Site</a>
                  {% endif %}
                  {% if page.github == null %}
                  {% else %}
                    <a href="https://github.com/{{ page.github }}" target="_blank">| <i class="fa fa-github" aria-hidden="true"></i> Code in Github</a>
                  {% endif %}
                  {% if page.prototype == null %}
                  {% else %}
                    <a href="{{ page.prototype }}" target="_blank">| <i class="fa fa-file-image-o" aria-hidden="true"></i> Prototype</a>
                  {% endif %}
                </p>
            </div>

        </div>

        <!-- Work Gallery -->
        <div class="work-full-media mb-80 mb-xs-40">
          <img src="{{ site.baseurl }}img/portfolio/{{ page.ref }}/01.png" alt="" />
        </div>
        <!-- End Work Gallery -->


        {{ content }}

    </div>
</section>
<!-- End Head Section -->


<!-- Section -->
<section class="page-section">
    <div class="container relative">



    </div>
</section>
<!-- End Section -->

<!-- Work Navigation -->
<div class="work-navigation clearfix">
    <a href="portfolio-single-1.html" class="work-prev"><span><i class="fa fa-chevron-left"></i>&nbsp;Previous</span></a>
    <a href="#" class="work-all"><span><i class="fa fa-times"></i>&nbsp;All works</span></a>
    <a href="portfolio-single-3.html" class="work-next"><span>Next&nbsp;<i class="fa fa-chevron-right"></i></span></a>
</div>
<!-- End Work Navigation -->
